.body-content {
    margin-top: 72px;

}

td, th {
    padding: 10px;
    font-size:1.3rem;
}

th {
    text-align: center;
}

td {
    vertical-align: top;
}



.centeredTable {
    margin-left: auto;
    margin-right: auto;
}

table.job-listing {
    margin: 30px auto;
    border: 1px solid #e4e4e4;
    width: 80%;
}

table.job-listing td:first-child {
    font-weight: bold;
}

table.job-listing td:last-child {
    width: 80%;
}

label {
    margin-right: 15px;
}

.centered {
    text-align: center;
}
.row>div:nth-child(odd){
 background-color:#FFF !important;
 border:1px solid #f9f9f9;
}

.row>div:nth-child(even){
 background-color:#e4e4e4 !important;
}
.col-xs-3{width:33%;}
.sub-head{font-weight:bold; color:#555; text-transform:uppercase; display:inline-block; padding-right:8px;}